@{
    ViewData["Title"] = "Soru-Yorum";
    Layout = "_Layout";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="container">
        <h2>Son Sorular</h2>
        <div id="postList" class="mt-4">
            <!-- API'den gelen veriler buraya eklenecek -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/home.js"></script>
</body>
</html>
