@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uye Ol</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/uyeol.css">
</head>
<body>
    <form id="signupForm">
        <h1>Üye Ol</h1>
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="userName" required>
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" class="form-control" placeholder="Şifre" name="password" required>
        </div>
        <div class="form-group">
            <label>E-Posta</label>
            <input type="email" class="form-control" placeholder="E-Posta" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Onayla</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/uyeol.js"></script>
</body>
</html>
